<mat-card class="mat-card">
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content *ngIf="notSent; else sent" class="mat-card-content">
    <form (submit)="onSubmit()" class="request-reset-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          matInput
          required
        />
      </mat-form-field>
      <button mat-stroked-button color="primary">
        Reset Password
      </button>
    </form>
  </mat-card-content>
</mat-card>

<ng-template #sent>
  <mat-card-content>
    <p>
      A link has been sent to your email to reset your password. It will expire
      in 15 minutes.
    </p>
  </mat-card-content>
</ng-template>
