<div class="container">
  <form (submit)="onRegisterSubmit()" class="login-form">
    <h1 class="login-form-title">Register</h1>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        matInput
        name="name"
        [(ngModel)]="name"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        matInput
        name="email"
        [(ngModel)]="email"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="6"
      />
    </mat-form-field>
    <p class="login-error" *ngIf="error">Error: {{ error }}</p>
    <button type="submit" mat-flat-button color="primary" class="form-submit">
      Register
    </button>
    <p class="login">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </form>
</div>
