/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  background-color: rgb(243, 243, 243);
  background-image: url("./assets/images/undraw_cooking_lyxy.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  text-decoration: none;
  color: #fff;
}

// SnackBar styling
.on-top-with-color {
  z-index: 999999 !important;
  color: #fff !important;
}

.mat-stroked-button {
  background: rgb(255, 255, 255, 0.5);
}
