.add-recipe-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 350px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(129, 129, 129);
  margin-top: 10px;
  border-radius: 5px;

  mat-form-field {
    width: 100%;
  }
  h2 {
    color: #3d5afe;
  }

  .add-step-btn {
    background-color: #3d5afe;
    margin-bottom: 10px;
  }

  .radio-group {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    .radio-btn {
      margin-right: 16px;
    }
  }

  #additional-info {
    margin-top: 10px;
  }

  .add-margin {
    margin-bottom: 10px;
  }

  .button-div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .finished {
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 300;
    }

    .submit-btn {
      margin-top: 10px;
    }
  }
}

.back-btn {
  margin: 0.8rem 0 0 0.8rem;
}

@media (max-width: 800px) {
  .add-recipe-form {
    width: 75%;
  }
}
