.add-recipe-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 350px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(129, 129, 129);
  margin-top: 10px;
  border-radius: 5px;
  position: relative;

  mat-form-field {
    width: 100%;
  }
  h2 {
    color: #3d5afe;
  }

  .add-step-btn {
    margin-bottom: 20px;
  }

  .radio-group {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    .radio-btn {
      margin-right: 16px;
    }
  }

  #additional-info {
    margin-top: 10px;
  }

  .add-margin {
    margin-bottom: 10px;
  }
}

.back-btn {
  margin: 0.8rem 0 0 0.8rem;
}

.button-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 50%;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  box-shadow: 0 0 10px rgb(129, 129, 129);

  .finished {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

@media (max-width: 800px) {
  .button-div,
  .add-recipe-form {
    width: 75%;
  }
}

@media (max-width: 590px) {
  .button-div {
    width: 75%;
  }
}
