.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #37354b;

  .buttons {
    a {
      margin: 0 5px;
    }
  }

  .show-hide-buttons {
    display: none;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #516afd;
      transition: 0.15s ease-in;
    }
  }
}

@media (max-width: 590px) {
  .top-bar {
    .buttons {
      display: none;

      &.show {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        position: absolute;
        padding: 20px 30px;
        top: 56px;
        right: 0;
        background-color: #37354b;
        box-shadow: 0 0 2px #333;
        border-radius: 0 0 4px 4px;
        z-index: 5;

        a {
          margin: 10px 0;
        }
      }
    }
    .show-hide-buttons {
      display: block;
    }
  }
}
