.filler {
  flex: 1 1 auto;
}

.catchy-intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 8px -5px #333;
  color: #333;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 1rem;

  .home-title {
    text-transform: capitalize;
  }

  .home-title,
  .home-desc {
    letter-spacing: 1px;
  }

  .home-desc {
    color: rgb(61, 61, 61);
  }
}

.add-recipe-btn {
  margin: 15px;
  transform: scale(1.1);
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
