.container {
  background-image: url("../../../../assets/images/undraw_cooking_lyxy.svg");
  background-color: rgb(243, 243, 243);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;

  .back-btn {
    margin: 0.8rem 0 0 0.8rem;
  }
}
