.recipe-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 30px 15px;
  width: 300px;
  height: 450px;
  margin: 10px;
  transition: 0.5s ease-out;
  letter-spacing: 1px;

  &:hover {
    box-shadow: 0 10px 25px #333;
    transform: translate3d(0, -0.5rem, 0.25rem);
  }

  .card-title {
    text-transform: capitalize;
    text-align: center;
    word-break: break-word;
    color: #3d5afe;
    width: 100%;
    border-bottom: 1px solid #333;
    line-height: 2;
  }

  .divider-shadow {
    width: 100%;
    border-bottom: 1px solid #333;
    box-shadow: 0 0 5px #000;
  }

  .content-size {
    height: 75px;
    overflow-y: auto;
  }

  .view-recipe {
    margin-top: 15px;
  }

  .recipe-card-content-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .home-desc {
    letter-spacing: 1px;
  }

  .delete-recipe-icon,
  .edit-recipe-icon {
    position: absolute;
    top: 5px;
    cursor: pointer;
    &:hover {
      color: #3d5afe;
    }
  }

  .delete-recipe-icon {
    right: 5px;
    color: rgb(221, 36, 36);
  }

  .edit-recipe-icon {
    color: rgb(228, 209, 43);
    right: 30px;
  }
}
